body{
    background-image: url("/img/background.png");
}

.logo {
    background-image: url("/img/flint_hills.png");
    width: 230px;
    height: 38px;
    background-size: contain;
    background-repeat: no-repeat;
}

.burger_menu {
    background-image: url("/img/burger_menu.png");
    width: 230px;
    height: 38px;
    background-size: contain;
    background-repeat: no-repeat;
}


.link {
    color: #282a30;
    font-feature-settings:
        "clig"off,
        "liga"off;
    font-family: Nunito Sans;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
}


/* для лого */
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: var(--bs-btn-active-color);
    background-color: #ffffff;
    border-color: #ffffff;
}

.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #fff;
    --bs-btn-border-color: #fff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ffffff;
    --bs-btn-hover-border-color: #ffffff;
    --bs-btn-focus-shadow-rgb: 130,138,145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #565e64;
    --bs-btn-active-border-color: #51585e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: #6c757d;
}

.btn-dark {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0D6EFD;
    --bs-btn-border-color: #0D6EFD;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #424649;
    --bs-btn-hover-border-color: #373b3e;
    --bs-btn-focus-shadow-rgb: 66,70,73;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4d5154;
    --bs-btn-active-border-color: #373b3e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #212529;
    --bs-btn-disabled-border-color: #212529;
}

.icon_hd {
    width: 27px;
    height: 27px;
}

.ihd1 {
    background-image: url("/img/icon.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.link {
    color: #282A30;
    font-family: Montserrat;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

.title_text {
    color: #282A30;
    font-family: Montserrat;
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.subtitle_text {
    font-family: Montserrat;
    font-size: 6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text_d {
    color: rgba(40, 42, 48, 0.50);
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.des_text {
    margin-top: 5%;
    margin-bottom: 5%;
}

.text1 {
    color: #282A30;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.sect3 {
    margin-top: 170px;
}

.text {
    margin-top: 1%;
    color: #282A30;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text123 {
    color: rgba(40, 42, 48, 0.30);
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 1%;
}

.footer_title {
    color: #000000;
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 350;
    padding-bottom: 30px;
}

.footer_std {
    color: rgba(0, 0, 0, 0.8);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

@media(max-width:1024px) {
    .title_text {
        color: #282A30;
        font-family: Montserrat;
        font-size: 5rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .subtitle_text {
        font-family: Montserrat;
        font-size: 5rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
/* 
    .burger_menu{
        display: none;
    } */
}

@media(max-width:768px) {
    .title_text {
        color: #282A30;
        font-family: Montserrat;
        font-size: 4rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .subtitle_text {
        font-family: Montserrat;
        font-size: 4rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    
    .footer_std {
        color: rgba(0, 0, 0, 0.8);
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
    }
    .link {
        color: #282A30;
        font-family: Montserrat;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        text-decoration: none;
    }
}

@media(max-width:425px) {
    .title_text {
        color: #282A30;
        font-family: Montserrat;
        font-size: 3rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .subtitle_text {
        font-family: Montserrat;
        font-size: 3rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .differences{
        padding-bottom: 30px;
    }

    .footer_std {
        color: rgba(40, 42, 48, 0.80);
        font-family: Montserrat;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
    }

    .footer_title {
        color: #000000;
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 500;
        padding-bottom: 30px;
    }
}
